@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.background-image-saxophone {
    position: fixed;
    top: 0;
    display: table;
    opacity: 0.4;
}

body {
    background: black;
    font-family: 'Poppins', sans-serif;
    left: 0;
}

.en-tete {

    height: 14em;
    margin-top: 0;
}

.titres {
    color: white;
    margin-left: 7em;
    margin-top: 4em;
}

.titre-secondaire {
    color: #D58936;
    margin-left: 5em;
}

.img-en-tete {
    position: absolute;
    width: 100%;
    height: 15.5em;
    left: 0px;
    top: 0px;
    opacity: 0.4;
    border-radius: 25px;
    border-bottom: #D58936 solid 7px;
}

.img-menu {
    border-radius: 100%;
    display: inline-block;
    position: fixed;
    z-index: 1000;
    animation: ease-out;
    transition: 0.24s;
    top: 4em;
    left: 2em;
}

.img-menu:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.24s;
}

.paragraphe {
    color: aliceblue;
    margin-left: 1em;
    size: 16px;
    line-height: 24px;
}

.video {
    display: inline-block;
    z-index: 3000;
}

.white {
    color: white;
}