@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.artistes {
    background-image: url("img/background_contrebasse.jpg");
    background-position: 540px 1100px;
    background-size: inherit;
    background-repeat: no-repeat;
}

body {
    background: black;
    font-family: 'Poppins', sans-serif;
    left: 0;
    padding: 0;
    margin: 0;
}

.container-image {
    display: inline-block;
    margin-left: 1.7em;
}

.en-tete {
    height: 15.5em;
}

.evenement {
    background-image: url("img/background_piano.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.float-left {
    float: left;
    width: 50%;
}
.float-right{
    width: 50%;
}

h3 {
    color: white;
}

.img-en-tete {
    position: absolute;
    width: 100%;
    height: 15.5em;
    left: 0;
    top: 0;
    opacity: 0.4;
    border-bottom: #D58936 solid 7px;
    z-index: -50;
}

.img-menu {
    border-radius: 100%;
    display: inline-block;
    position: fixed;
    z-index: 1000;
    animation: ease-out;
    transition: 0.24s;
    top: 4em;
    left: 4em;
    bottom: 4em;
}
.img-menu:hover {
    transform: scale(1.04);
}
.img-menu:active {
    transform: scale(0.9);
}

.image-instru {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    transition: 0.3s;
}
.image-instru:hover {
    width: 340px;
    height: 340px;
    transition: 0.2s;
    cursor: pointer;
}

.list {
    font-size: 2.6em;
    margin-left: 3em;
}

.paragraphe {
    color: white;
    margin-left: 1.7em;
    margin-right: 1em;
    font-size: 2.6em;
    line-height: 1.5em;
}

.sax-background {
    background-image: url("img/background_saxophone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.trompette {
    background-image: url("img/background_trompette.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/***** Tableau *****/

table {
    color: white;
    border: 5px solid;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
    margin-bottom: 3em;
    border-collapse: collapse;
    background: #111111;
}

td {
    border-image: linear-gradient(to right, #f12711, #f5af19);
    border: 3px solid;
    padding-left: 10px;
    padding-right: 10px;
}
th {
    border: 3px solid;
    background: #110900;
}

/*******************/

.titres {
    color: white;
    margin-left: 3em;
    font-size: 6em;
}

.titre-secondaire {
    color: #D58936;
    margin-left: 1em;
    font-size: 4.4em;
}

.video {
    display: table;
    z-index: 3000;
    margin: auto;
    width: 100%;
    height: 600px;
    max-width: 1300px;
    border: none;
}

.violoncel {
    z-index: -9;
    margin-bottom: 2em;
    margin-right: 2em;
    position: relative;
}

.white {
    color: white;
}

/* Menu  */

.menu {
    width: 2em;
    margin: 1em;
    position: fixed;
}
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 100;
    height: 20em;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 30px;
}
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 45px;
    line-height: 90px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidepanel a:hover {
    color: #D58936;
}
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
}
.sidepanel .closebtn:hover {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
    color: #D58936;
}
.openbtn:hover {
    cursor: pointer;
    transition: 0.24s;
}

.openbtn {
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(169, 169, 169, 0);
    border: rgba(169, 169, 169, 0) 1px solid;
    color: white;
    padding: 10px 15px;
}

header nav div a.Actuel {
    font-weight: bold;
    color: #ffffff;
}